<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../components/header.ejs") %>
        <link rel="stylesheet" href="/css/reset.css" />
</head>

<body>
    <div class="container border border-light border-3 c-container p-4">
        <h1 class="text-center text-light title">RESET PASSWORD</h1>
        <div class="d-flex flex-column justify-content-evenly align-items-center c-form px-3">
            <div class="input-group">
                <span class="input-group-text  border-3  bg-light" id="basic-addon1"><i
                        class="bi bi-key-fill text-dark"></i></span>
                <input type="password" id="password" class="form-control  border-3 text-dark" placeholder="Password"
                    aria-label="Password">
            </div>
            <div class="input-group d-flex flex-column">
                <div class="input-group">
                    <span class="input-group-text  border-3  bg-light" id="basic-addon1"><i
                            class="bi text-dark bi-check-lg"></i></span>
                    <input type="password" id="cPassword" class="form-control  border-3 text-dark"
                        placeholder="Confirm Password" aria-label="Password">
                </div>
                <div class="ms-1 mt-2">
                    <input type="checkbox" id="show">
                    <label class="form-check-label" for="show">Show Password</label>
                </div>
            </div>
            <div class="btn-group c-btn" role="group" aria-label="Basic example">
                <button type="button" class="btn w-50" id="reset">RESET</button>
            </div>
        </div>
    </div>

    <input type="hidden" id="email" value="<%= email %>" />

    <%- include("../components/loading.ejs") %>
        <%- include("../components/footer.ejs") %>
            <script src="/build/toastr.min.js"></script>
            <script src="/js/options.js"></script>
        <script type="application/javascript" src="/js/reset.js"></script>
</body>

</html>