<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../components/header.ejs") %>
        <link rel="stylesheet" href="/css/transaction.css" />
</head>

<body class="d-flex p-0">
    <%- include("../components/sidebar.ejs") %>
        <div class="content text-light">
            <%- include("../components/navbar.ejs", { title: `Transaction ID: ${trans_id}` }) %>
                <div class="container calendar">
                    <div id="calendar"></div>
                </div>
        </div>

        <%- include("../components/loading.ejs") %>
            <script src="/build/toastr.min.js"></script>
            <script src="/js/options.js"></script>
            <script type="application/javascript" src="/js/transaction.js"></script>
</body>

</html>